body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div.Landing     {
    margin-top: 0;
    background-image: url("images/table-food.jpg");
    background-size:100% 100%;
    background-repeat: repeat;
    height: 98vh;
    overflow: auto;
}   

header {
    background-color: #000000;
    max-width: 50%;
    opacity: 75%;
    margin-top: 2.5%;
    margin-left: 23%;
    margin-right: 20%;
    padding-top: 2px;
    padding-bottom: 2px;    
    float:center
}

h1 {    
    color: #FFFFFF;
}

h2.Tagline {
    font-family: "Brush Script MT";
    color: #FFFFFF;
    font-size: 40px;
}

div.Reviews { 
    background: #000000;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 40px
}

.review {
    color: #FFFFFF;
    padding-left:130px;
    padding-right: 130px;
    padding-top: 50px;
    max-width: 125px;
    margin: 5px;
    display: inline-block;
    text-align: left;
    
}

.review .name { 
        font-size: 16px;
        font-weight: bold;
        text-align: center;
}

.Reviews .review-description {
    font-size: 15px;
    font-style: italic;
    text-align: center;
}



.review img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 50%; 
}

div.Menu {
    font-size: 28px;
    padding-bottom: 20px;
}

li.items {
    list-style-type: none;
    padding-bottom: 10px;
}    

li.items h3 {
    font-size: 24px;
}    

li.items p {
    font-size: 18px;
    opacity: 88%;
}


div.infobar {
    background-color: #000000;
    color: #FFFFFF;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;

}

div.infobar div {
    display: inline-block;
    text-align: left;

}


div.address {
    float: left;
    padding-left: 200px;

}

address { 
    font-style: normal;
    opacity: 75%;
}


div.about {
    float: right;
    padding-right: 200px;
    opacity: 75%;
}

div.class {
    font-weight: bold;
}

div form {
  position : relative;
  width  : 740px;
  height : 498px;
  margin : 0 auto;
  /* padding: 1em; */
  box-sizing: border-box;
  

  /* we create our grid */
  display  : grid;
  grid-gap : 20px;
  grid-template-columns : repeat(2, 2fr);
  grid-template-rows    : 1em 1em 1em 10em;
  border: black ;
}

.contact-us h2 {
    font-size: 32px;
}


form label {
        font-weight: bold;
        font-size: 22px;
}

form input {
    border:0;
    border: #000000 solid 3px;
    padding-bottom: 50px;
    padding-top: 15px;
    width: 100%;
    
}
form input[type=text] {
    padding: 10px;
    margin:10px 0; 
    
  }

.contactform textarea {
    border:0;
    border: #000000 solid 3px;
    height: 6em;
    padding: 10px;
    margin:10px 0; 
    width: 100%;
}




footer {
    background: black;
    color: #FFFFFF;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 30px;
}

footer p {
    float: center;
}

footer p span {
    font-weight: bold;
    font-size: 22px;
}
